/* General Styles */

/* Home Section */
.home-container {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  /* Adjusted to allow scrolling */
  position: relative;
  margin: 0;
}
@media (min-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 1000px;
  }
  .home-right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
  }
  .home-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .navigation-bar {
    position: absolute;
    height: 3rem;
    width: 100%;
  }
  .nav-buttons-container {
    width: 40%;
    height: 100%;
    position: relative;
    left: 60%;
  }
  .nav-buttons {
    width: 25%;
    height: 100%;
    font-size: 1.4rem;
    background: black;
    color: rgb(194, 194, 194);
    border: black 0px solid;
    position: relative;
  }
  .nav-buttons:hover {
    text-decoration: underline;
    color: white;
  }

  .home-info-container {
    width: 90%;
    height: 90%;
    min-height: 100%;
    position: relative;
    top: 10%;
    left: 10%;
  }
  .home-info-container2 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 3%;
  }
  .home-name {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 2rem;
    height: 5%;
    min-height: 5%;
  }
  .home-me-field {
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    height: 50%;
  }

  .home-me-field2 {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 25%;
  }

  .home-field {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: red;
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 3rem;
  }

  .home-me-container {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80%;
  }

  .home-me-border {
    width: 40%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .home-me {
    width: 20rem;
    height: 20rem;
    border-radius: 49%;
    opacity: 0.6;
    box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.4);
  }
  .projects-container {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    background-color: black;
    margin-top: 0;
    /* Space between Home and Projects sections */
  }

  .cv-container {
    background-color: black;
    position: relative;
    display: grid;
    place-items: center;
  }
  .cv-text {
    color: white;
    font-size: 48px;
    text-align: center;
  }
  .cv-download-button {
    border: solid 3px;
    font-size: 32px;
    padding: 15px;
    border-radius: 100px;
    margin-top: 50px;
    text-decoration: none;
  }
  .ttt-container {
    min-height: 100vh;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ttt-right-container {
    position: relative;
    left: 42%;
  }
  .ttt-image {
    width: 55%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .ttt-left-container {
    width: 37%;
    position: absolute;
    left: 5%;
    min-width: 30%;
  }
  .ttt-title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    min-width: 300px;
  }
  .ttt-content {
    position: relative;
    font-size: 2rem;
    margin-top: 3%;
    color: white;
    width: 90%;
    min-width: 300px;
  }
  .ttt-frameworks-container {
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 2%;
  }
  .ttt-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;

    margin: 5px;
    padding: 10px;
  }
  .beyti-container {
    min-height: 100vh;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .beyti-right-container {
    position: relative;
    left: 42%;
  }

  .beyti-image {
    width: 55%;
    border: black solid 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }

  .beyti-left-container {
    position: absolute;
    left: 5%;
    width: 37%;
  }

  .beyti-title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
  }

  .beyti-content {
    font-size: 2rem;
    margin-top: 3%;
    color: white;
    max-width: 90%;
    min-width: 300px;
  }

  .beyti-frameworks-container {
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 2%;
  }

  .beyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;

    margin: 5px;
    padding: 10px;
  }
  .mobileBeyti-container {
    min-height: 100vh;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileBeyti-right-container {
    position: relative;
    left: 30%;
    width: 70%;
    height: 100%;
    place-content: center;
  }
  .mobileBeyti-images {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5%;
  }

  .mobileBeyti-image {
    position: relative;
    width: 20%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti2-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 20%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti3-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 20%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }

  .mobileBeyti-left-container {
    position: absolute;
    left: 5%;
    width: 40%;
  }

  .mobileBeyti-title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    min-width: 300px;
  }

  .mobileBeyti-content {
    font-size: 2rem;
    margin-top: 3%;
    color: white;
    max-width: 90%;
    min-width: 300px;
  }

  .mobileBeyti-frameworks-container {
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 2%;
  }

  .mobileBeyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;

    margin: 5px;
    padding: 10px;
  }
  .about-container {
    min-height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
  }
  .about-board {
    height: 100%;
    width: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  .about-container2 {
    min-height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }

  .about-board2 {
    height: 98%;
    width: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  .about-blue {
    width: 50%;
    height: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    place-content: center;
  }
  .about-blue-1 {
    background-color: white;
    width: calc(40% - 10px);
    height: 40%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-2 {
    background-color: white;
    width: calc(40% - 10px);
    height: 40%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-3 {
    background-color: white;
    width: calc(40% - 10px);
    height: 40%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-4 {
    background-color: white;
    width: calc(40% - 10px);
    height: 40%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-right {
    width: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .about-orange-green {
    width: 100%;
    height: calc(50% + 10px);
    display: flex;
  }
  .about-orange {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 5%;
  }
  .about-orange-1 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255)
    );
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-image-slice: 1;
  }
  .about-orange-2 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255)
    );
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-image-slice: 1;
  }
  .about-green {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 5%;
  }
  .about-green-1 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightgreen,
      white,
      lightgreen,
      white,
      lightgreen
    );
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-image-slice: 1;
  }
  .skills-data {
    font-size: 1.5rem;
  }
  .about-green-2 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightgreen,
      white,
      lightgreen,
      white,
      lightgreen
    );
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-image-slice: 1;
  }
  .about-pink {
    width: 100%;
    height: calc(50% + 10px);
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }
  .about-pink-1 {
    width: 80%;
    height: 80%;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(pink, white, pink, white, pink);
    box-shadow: 0px 5px 20px pink, 0px -5px 20px pink, 5px 0px 20px pink,
      -5px 0px 20px pink;
    border-image-slice: 1;
    background-color: white;
  }
  .colors-indicator-container {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: black;
  }
  .colors-indicator {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    margin-left: 10%;
  }
  .blue-indicator {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-radius: 100px;
  }
  .orange-indicator {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 69, 255);
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-radius: 100px;
  }
  .green-indicator {
    width: 40px;
    height: 40px;
    background-color: lightgreen;
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-radius: 100px;
  }
  .pink-indicator {
    width: 40px;
    height: 40px;
    background-color: pink;
    box-shadow: 0px 5px 20px pink, 0px -5px 20px pink, 5px 0px 20px pink,
      -5px 0px 20px pink;
    border-radius: 100px;
  }
  .color-name {
    width: fit-content;
    font-size: 2rem;
  }
  .color-info {
    height: 100%;
    display: grid;
    place-content: center;
  }
  .text-info {
    height: 100%;
    display: grid;
    place-content: center;
    color: white;
  }
  .all-info {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  .contact-container {
    background-color: black;
    color: white;
    position: relative;
    overflow: auto;
    height: 100vh;
  }
  .contact-content {
    height: 100%;
    place-content: center;
  }

  .contact-title {
    margin-left: 20%;
    position: relative;
    font-size: 3rem;
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 2px white;
  }
  .link-container {
    position: relative;
    font-size: 2rem;
    width: 100%;
    height: 50px;
  }

  .contact-link {
    position: absolute;
    margin-left: 20%;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact-emoji {
    position: absolute;
    width: 6%;
    margin-left: calc(20% - 50px);
  }
  .contact-a {
    text-decoration: none;
  }
  .contact-button {
    margin-left: 20%;
    margin-bottom: 100px;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a8a8a8);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6),
      inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Moving light reflection effect */
  .contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: skewX(-20deg);
    animation: shine 5s infinite linear;
    opacity: 0.8;
  }

  @keyframes shine {
    0% {
      left: -500%;
    }

    100% {
      left: 500%;
    }
  }
  .congrats-top-left {
    top: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .congrats-top-right {
    position: absolute;
    top: 150px;
    right: 10%;
    font-size: 40px;
  }
  .congrats-bottom-right {
    bottom: 150px;
    font-size: 40px;
    position: absolute;
    right: 10%;
  }
  .congrats-bottom-left {
    bottom: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .footer-container {
    position: relative;
    height: 80px;
    background-color: rgb(206, 206, 206);
    max-width: 100%;
    overflow: hidden;
  }
  .footer-name-container {
    min-width: 450px;
    max-width: 450px;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
  }
  .footer-name {
    height: 100%;
    font-size: 3rem;
    color: black;
  }
  .footer-links {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    left: 85%;
  }
  .footer-icons {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer-icon {
    height: 100%;
    width: 50px;
  }
}
@media (min-width: 1250px) {
  .home-full-name {
    position: relative;
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: blue;
    font-size: 3rem;
    height: 10%;
    min-height: 10%;
  }
  .motivation-sentence {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 2rem;
    height: 30%;
    min-height: 30%;
  }
}
@media (max-width: 1250px) {
  .home-full-name {
    position: relative;
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: blue;
    font-size: 2rem;
    height: 10%;
    min-height: 10%;
  }

  .motivation-sentence {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 1rem;
    height: 30%;
    min-height: 30%;
  }
}
@media (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .home-right {
    position: relative;
    width: 100%;
    left: 0;
  }

  .home-left {
    position: relative;
    width: 100%;
    left: 0;
    display: flex;
    place-content: center;
  }

  .home-info-container {
    width: 50%;
    height: 30vh;
    position: relative;
    top: 10vh;
    text-align: center;
    overflow: hidden;
  }

  .home-info-container2 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 3%;
    overflow: hidden;
  }

  .home-name {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 1.5rem;
  }
  .home-full-name {
    position: relative;
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: blue;
    font-size: 2rem;
    height: auto;
  }

  .motivation-sentence {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 1rem;
    height: auto;
  }
  .home-me-field {
    position: relative;
    left: 0;
    width: 100%;
    height: 60vh;
    top: 10vh;
  }

  .home-me-field2 {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 25%;
  }

  .home-field {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: red;
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 2rem;
  }

  .home-me-container {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80%;
  }

  .home-me-border {
    width: 40%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .home-me {
    width: 15rem;
    height: 15rem;
    border-radius: 49%;
    opacity: 0.6;
    box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.4);
  }
  .projects-container {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    background-color: black;
    margin-top: 0;
    /* Space between Home and Projects sections */
  }

  .cv-container {
    background-color: black;
    position: relative;
    display: grid;
    place-items: center;
  }
  .cv-text {
    color: white;
    font-size: 48px;
    text-align: center;
  }
  .cv-download-button {
    border: solid 3px;
    font-size: 32px;
    padding: 15px;
    border-radius: 100px;
    margin-top: 50px;
    text-decoration: none;
  }
  .ttt-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .ttt-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .ttt-image {
    width: 80%;
    margin-left: 10%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .ttt-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }
  .ttt-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .ttt-content {
    position: relative;
    font-size: 1.5rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .ttt-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .ttt-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }
  .beyti-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .beyti-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .beyti-image {
    width: 80%;
    margin-left: 10%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .beyti-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
    top: 5vh;
  }
  .beyti-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .beyti-content {
    position: relative;
    font-size: 1.5rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .beyti-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .beyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }
  .mobileBeyti-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .mobileBeyti-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .mobileBeyti-images {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    place-content: center;
    gap: 10%;
  }

  .mobileBeyti-image {
    position: relative;
    width: 30%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti2-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 30%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti3-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 30%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }

  .mobileBeyti-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }
  .mobileBeyti-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .mobileBeyti-content {
    position: relative;
    font-size: 1.5rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .mobileBeyti-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .mobileBeyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }

  .colors-indicator-container {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: black;
  }
  .colors-indicator {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
  }
  .blue-indicator {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-radius: 100px;
  }
  .orange-indicator {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 69, 255);
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-radius: 100px;
  }
  .green-indicator {
    width: 40px;
    height: 40px;
    background-color: lightgreen;
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-radius: 100px;
  }
  .pink-indicator {
    width: 40px;
    height: 40px;
    background-color: pink;
    box-shadow: 0px 5px 20px pink, 0px -5px 20px pink, 5px 0px 20px pink,
      -5px 0px 20px pink;
    border-radius: 100px;
  }
  .color-name {
    width: fit-content;
    font-size: 1.5rem;
  }
  .color-info {
    height: 100%;
    display: grid;
    place-content: center;
  }
  .text-info {
    height: 100%;
    display: grid;
    place-content: center;
    color: white;
  }
  .all-info {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .contact-container {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
  }
  .contact-content {
    height: 100%;
    place-content: center;
  }

  .contact-title {
    margin-left: 20%;
    position: relative;
    font-size: 2rem;
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 2px white;
  }
  .link-container {
    position: relative;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
  }

  .contact-link {
    position: absolute;
    margin-left: 20%;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact-emoji {
    position: absolute;
    width: 6%;
    margin-left: calc(20% - 50px);
  }
  .contact-a {
    text-decoration: none;
  }
  .contact-button {
    margin-left: 20%;
    margin-bottom: 100px;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a8a8a8);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6),
      inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Moving light reflection effect */
  .contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: skewX(-20deg);
    animation: shine 5s infinite linear;
    opacity: 0.8;
  }

  @keyframes shine {
    0% {
      left: -500%;
    }

    100% {
      left: 500%;
    }
  }
  .congrats-top-left {
    top: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .congrats-top-right {
    position: absolute;
    top: 150px;
    right: 10%;
    font-size: 40px;
  }
  .congrats-bottom-right {
    bottom: 150px;
    font-size: 40px;
    position: absolute;
    right: 10%;
  }
  .congrats-bottom-left {
    bottom: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .footer-container {
    position: relative;
    height: 80px;
    background-color: rgb(206, 206, 206);
    width: 100%;
    overflow: hidden;
  }
  .footer-name-container {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
  }
  .footer-name {
    height: 100%;
    font-size: 2rem;
    color: black;
  }
  .footer-links {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 10%;
    left: 75%;
    display: flex;
  }
  .footer-icons {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer-icon {
    height: 100%;
    width: 50px;
  }
}

.home-name2 {
  font-family: "Michroma", serif;
  font-weight: 0;
  font-style: normal;
  color: white;
  position: relative;
  font-size: 2rem;
  height: 10%;
  min-height: 10%;
}
@media (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .home-right {
    position: relative;
    width: 100%;
    left: 0;
  }

  .home-left {
    position: relative;
    width: 100%;
    left: 0;
    display: flex;
    place-content: center;
  }

  .home-info-container {
    width: 50%;
    height: 30vh;
    position: relative;
    top: 10vh;
    text-align: center;
    overflow: hidden;
  }

  .home-info-container2 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 3%;
    overflow: hidden;
  }

  .home-name {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 1.5rem;
  }
  .home-full-name {
    position: relative;
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: blue;
    font-size: 2rem;
    height: auto;
  }

  .motivation-sentence {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: white;
    position: relative;
    font-size: 1rem;
    height: auto;
  }
  .home-me-field {
    position: relative;
    left: 0;
    width: 100%;
    height: 60vh;
    top: 10vh;
  }

  .home-me-field2 {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 25%;
  }

  .home-field {
    font-family: "Michroma", serif;
    font-weight: 0;
    font-style: normal;
    color: red;
    position: relative;
    top: 0%;
    text-align: center;
    font-size: 2rem;
  }

  .home-me-container {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80%;
  }

  .home-me-border {
    width: 40%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .home-me {
    width: 15rem;
    height: 15rem;
    border-radius: 49%;
    opacity: 0.6;
    box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.4);
  }
  .projects-container {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    background-color: black;
    margin-top: 0;
    /* Space between Home and Projects sections */
  }

  .cv-container {
    background-color: black;
    position: relative;
    display: grid;
    place-items: center;
  }
  .cv-text {
    color: white;
    font-size: 48px;
    text-align: center;
  }
  .cv-download-button {
    border: solid 3px;
    font-size: 32px;
    padding: 15px;
    border-radius: 100px;
    margin-top: 50px;
    text-decoration: none;
  }
  .ttt-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .ttt-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .ttt-image {
    width: 80%;
    margin-left: 10%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .ttt-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }
  .ttt-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .ttt-content {
    position: relative;
    font-size: 1.2rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .ttt-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .ttt-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }
  .beyti-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .beyti-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .beyti-image {
    width: 80%;
    margin-left: 10%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .beyti-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
    top: 5vh;
  }
  .beyti-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .beyti-content {
    position: relative;
    font-size: 1.2rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .beyti-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .beyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }
  .mobileBeyti-container {
    height: 100vh;
    background-color: black;
    max-width: 100%;
    overflow: hidden;
  }
  .mobileBeyti-right-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
  }
  .mobileBeyti-images {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    place-content: center;
    gap: 10%;
  }

  .mobileBeyti-image {
    position: relative;
    width: 30%;
    border: black solid 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti2-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 30%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }
  .mobileBeyti3-image {
    border-radius: 20px;
    border: solid black 4px;
    position: relative;
    width: 30%;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.9);
  }

  .mobileBeyti-left-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }
  .mobileBeyti-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .mobileBeyti-content {
    position: relative;
    font-size: 1.2rem;
    margin-top: 3%;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .mobileBeyti-frameworks-container {
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: 2%;
    display: flex;
    place-content: center;
  }
  .mobileBeyti-frameworks {
    border: white solid 2px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
    margin: 5px;
    padding: 10px;
  }

  .colors-indicator-container {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: black;
  }
  .colors-indicator {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
  }
  .blue-indicator {
    width: 20px;
    height: 20px;
    background-color: lightblue;
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-radius: 100px;
  }
  .orange-indicator {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 69, 255);
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-radius: 100px;
  }
  .green-indicator {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-radius: 100px;
  }
  .pink-indicator {
    width: 20px;
    height: 20px;
    background-color: pink;
    box-shadow: 0px 5px 20px pink, 0px -5px 20px pink, 5px 0px 20px pink,
      -5px 0px 20px pink;
    border-radius: 100px;
  }
  .color-name {
    width: fit-content;
    font-size: 1rem;
  }
  .color-info {
    height: 100%;
    display: grid;
    place-content: center;
  }
  .text-info {
    height: 100%;
    display: grid;
    place-content: center;
    color: white;
  }
  .all-info {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .contact-container {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
  }
  .contact-content {
    height: 100%;
    place-content: center;
  }

  .contact-title {
    margin-left: 20%;
    position: relative;
    font-size: 1.5rem;
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 2px white;
  }
  .link-container {
    position: relative;
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
  }

  .contact-link {
    position: absolute;
    margin-left: 20%;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .contact-emoji {
    position: absolute;
    width: 6%;
    margin-left: calc(20% - 50px);
  }
  .contact-a {
    text-decoration: none;
  }
  .contact-button {
    margin-left: 20%;
    margin-bottom: 100px;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background: linear-gradient(135deg, #c0c0c0, #e0e0e0, #a8a8a8);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6),
      inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  }

  /* Moving light reflection effect */
  .contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: skewX(-20deg);
    animation: shine 5s infinite linear;
    opacity: 0.8;
  }

  @keyframes shine {
    0% {
      left: -500%;
    }

    100% {
      left: 500%;
    }
  }
  .congrats-top-left {
    top: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .congrats-top-right {
    position: absolute;
    top: 150px;
    right: 10%;
    font-size: 40px;
  }
  .congrats-bottom-right {
    bottom: 150px;
    font-size: 40px;
    position: absolute;
    right: 10%;
  }
  .congrats-bottom-left {
    bottom: 150px;
    position: absolute;
    left: 10%;
    font-size: 40px;
  }
  .footer-container {
    position: relative;
    height: 80px;
    background-color: rgb(206, 206, 206);
    width: 100%;
    overflow: hidden;
  }
  .footer-name-container {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
  }
  .footer-name {
    height: 100%;
    font-size: 1.5rem;
    color: black;
  }
  .footer-links {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 20%;
    left: 75%;
    display: flex;
  }
  .footer-icons {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
  }
  .footer-icon {
    height: 100%;
    width: 40px;
  }
}

.home-full-name2 {
  position: relative;
  font-family: "Michroma", serif;
  font-weight: 0;
  font-style: normal;
  color: blue;
  font-size: 3rem;
  height: 15%;
  min-height: 15%;
}

.motivation-sentence2 {
  font-family: "Michroma", serif;
  font-weight: 0;
  font-style: normal;
  color: white;
  position: relative;
  font-size: 2rem;
  top: 5%;
  height: 30%;
  min-height: 30%;
}
.home-year {
  font-family: "Michroma", serif;
  font-weight: 0;
  font-style: normal;
  color: white;
  font-size: 1.2rem;
  position: relative;
  top: 10%;
  text-align: center;
  height: 20%;
  min-height: 20%;
}
.home-uni {
  position: relative;
  font-family: "Michroma", serif;
  font-weight: 0;
  font-style: normal;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border: white double 5px;
  top: 10%;
  min-height: 5%;
}

.home-buttons-container {
  width: 100%;
  height: 60%;
  max-height: 100%;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  margin-top: 20%;
}

.home-buttons {
  font-size: 48px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  transition: letter-spacing 0.4s ease, text-shadow 0.4s ease;
}

.home-buttons:hover {
  letter-spacing: 5px;
  text-shadow: white 10px 10px 80px;
  transition: 0.4s;
}

@media (max-width: 1800px) {
  .about-container {
    background-color: black;
    display: flex;
    flex-direction: column; /* Allows content to flow naturally */
    align-items: center; /* Centers items horizontally */
    min-height: 100vh; /* Starts at full height but allows growth */
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  .about-board {
    position: relative;
    min-height: 100vh;
    width: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
  }
  .about-container2 {
    min-height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }

  .about-board2 {
    height: 98%;
    width: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  .about-blue {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    place-content: center;
  }
  .about-blue-1 {
    background-color: white;
    width: 80%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-2 {
    background-color: white;
    width: 80%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-3 {
    background-color: white;
    width: 80%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-blue-4 {
    display: none;
    background-color: white;
    width: 80%;
    border: 3px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightblue,
      white,
      lightblue,
      white,
      lightblue
    );
    box-shadow: 0px 5px 20px lightblue, 0px -5px 20px lightblue,
      5px 0px 20px lightblue, -5px 0px 20px lightblue;
    border-image-slice: 1;
  }
  .about-right {
    width: 50%;
    display: grid;
    gap: 5vh;
  }
  .about-orange-green {
    width: 100%;
    display: grid;
    gap: 5vh;
  }
  .about-orange {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 5vh;
  }
  .about-orange-1 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255)
    );
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-image-slice: 1;
  }
  .about-orange-2 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255),
      white,
      rgb(255, 69, 255)
    );
    box-shadow: 0px 5px 20px rgb(255, 69, 255), 0px -5px 20px rgb(255, 69, 255),
      5px 0px 20px rgb(255, 69, 255), -5px 0px 20px rgb(255, 69, 255);
    border-image-slice: 1;
  }
  .about-green {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 5vh;
  }
  .about-green-1 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightgreen,
      white,
      lightgreen,
      white,
      lightgreen
    );
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-image-slice: 1;
  }
  .skills-data {
    font-size: 1.5rem;
  }
  .about-green-2 {
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 0px 10px 5px;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(
      lightgreen,
      white,
      lightgreen,
      white,
      lightgreen
    );
    box-shadow: 0px 5px 20px lightgreen, 0px -5px 20px lightgreen,
      5px 0px 20px lightgreen, -5px 0px 20px lightgreen;
    border-image-slice: 1;
  }
  .about-pink {
    /*pink container*/

    width: 100%;
    display: none;
    flex-wrap: wrap;
    place-content: center;
  }
  .about-pink2 {
    width: 100%;
    display: flex;
    place-content: center;
  }
  .about-pink-2 {
    position: relative;
    width: 80%;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border: 5px solid;
    /* Define border width */
    border-image-source: linear-gradient(pink, white, pink, white, pink);
    box-shadow: 0px 5px 20px pink, 0px -5px 20px pink, 5px 0px 20px pink,
      -5px 0px 20px pink;
    border-image-slice: 1;
    background-color: white;
  }
}
